* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
    background-color: #000;
    overflow:hidden;
    font-family: 'Metal Mania', cursive;
}

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title-text {
    color: #FFF;
    font-size: 2rem;
    margin: 0 0 5px 0;
}

#character-img {
    position: absolute;
    user-select: none;
    transition: transform 0.3s;
}

#retry {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2401d;
    flex-flow: column nowrap;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    height: 100%;
}

#retry h2 {
    user-select: none;
    text-align: center;
}

#retry button {
    user-select: none;
    background-color: #fff;
    border: 2px solid #f2401d;
    color: #f2401d;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 3rem;
    animation: retry-button 1s infinite both;
}

@keyframes retry-button {
	from   { 
        color: #fff; 
        background-color: #f2401d; 
        border-color: #fff;
    }
	to  { 
        color: #f2401d; 
        background-color: #fff; 
        border-color: #f2401d;
    }
}

#game-box {
    border: 4px solid #eaea27;
    height: 80vh;
    width: 90vw;
    background-color: #4286f4;
    position: relative;
    overflow:hidden;
    min-height: 400px;
    user-select: none;
}

#audio {
    margin-top: 10px;
}

#score {
    position: absolute;
    background: none;
    border: thin solid #eaea27;
    color: #eaea27;
    padding: 10px;
    z-index: 1;
    font-weight: bolder;
    user-select: none;
    width: 100px;
    right: 20px;
    top: 20px;
}

#all-pipes {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}

.pipe-box {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    margin-right: 350px;
}

.up-pipe-box, .down-pipe-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: inherit;
}

.pipe-head, .pipe-body {
    background-image: linear-gradient(to right, #06990f, #2fe247, #3df448); 
    border: 1.2px solid #000;
}

.pipe-head {
    width: 100%;
    height: 20px;
}

.pipe-body {
    height: calc(100% - 20px);
    width: 90%;
    border-bottom: none;
    border-top: none;
}

#go-top, #go-down {
    position: fixed;
    left: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 3;
    background: none;
    border: none;
    font-size: 1.5rem;
    outline: none;
}

#go-top {
    top: 10px;
}

#go-down {
    bottom: 10px;
}

@media(max-width: 850px) {
    .page-container {
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;
    }

    #game-box {
        width: 90%;
        height: 80%;
        min-height: 80%;
    }

    #retry, #retry button {
        font-size: 1rem;
    }

    .audio-container {
        height: 10%;
    }
}